<!DOCTYPE html>
<html lang="es">
    
    <!-- Include Head -->
    <%- include('partials/head') %>

<body>
	<!-- Header -->
    <%- include('partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			
			
				<% for (let i = 0; i < productos.length; i++) { %>
					<div class="col-12 col-md-4 mb-4">
						<article class="product-box">
							<a href="/product/detail/<%= productos[i].id %>">
								<div class="product-box_image">
									<img src="<%= productos[i].imagenProducto %>" alt="<%= productos[i].nombreProducto %>">
								</div>
								<div class="product-box_content">
									<h4 class="product-box_title"><%= productos[i].nombreProducto %></h4>
									<p class="product-box_description"><%= productos[i].descripcion %></p>
								</div>
							</a>
						</article>
					</div>
				<% } %>
			
		</div>
	</div>


	<!-- footer -->
	<%- include('partials/footer') %>
    
</body>

</html>